/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, footer, header, nav
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}
ol, ul {
	list-style: none;
}
/*
End Reset
*/
nav{
	position: fixed;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: black;
	z-index: 1;
	height: 4%;
	width: 100%;
	text-align: center;
	color: #ffffff;
	top: 0px;
}
nav ul{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: #222222;
	background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
}
nav ul li{
	display: inline;
	padding: 0% 2% 0% 2%;
	border-left: 1px solid rgba(0,0,0,0.22);
	font-size: 150%;
}
nav a{
	text-decoration: none;
	/*border-left: 1px solid rgba(255,255,255,0.15);*/
	/*border: 1px solid black;
	border-radius: 10px;*/
	color: #ffffff;
}
nav ul li:hover, nav ul li:active{
	background: #1275ae;
	background: -moz-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
	background: -webkit-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
	background: -o-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
	background: -ms-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
	background: linear-gradient(to top, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
}
body {
	background-color: #008000;
}
.current{
	color: red;
}
header{
	position: relative;
}
h1{
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	padding-top: 3%;
}
h2{
	padding-top: 4%;
}
h4{
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}
#status{
	display: inline;
	position: relative;
	text-align: center;
	padding-right: 5%;
}
#status a{
	text-decoration: none;
	border-radius: 1px solid black;
}
legend{
	width: 100%;
	border-bottom: 1px solid  black;
	font-family: Century Gothic, sans-serif;
	text-align: center;
}
#accountForm{
	margin-top: 50px;
	background-color: white;
	border: groove;
}
footer{
	text-align: center;
}
img{
	text-align: center;
}
#login {
	text-align: center;
	margin: 0 auto;
	display: block;
	padding-top: 4%;
	color: white;
	width: 50%;
	z-index: 200;
}
#welcome {
	position: fixed;
	top: 1%;
	color: white;
	z-index: 200;
}